<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.myapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>My App</name>
  <description>A description of my app</description>
  <author email="you@example.com" href="http://yourwebsite.com">Your Name</author>
</widget>

<platform name="android">
    <!-- Agrega el permiso de acceso a Internet -->
    <config-file parent="/*" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.INTERNET" />
    </config-file>
</platform>
