<ion-header>
  <ion-toolbar>
    <ion-title size="large">menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-button color="danger" >
            <ion-icon name="pin-outline" size="large"></ion-icon>
          </ion-button>
          <h3 class="text-button">hola</h3>
        </ion-col>
        <ion-col>
          <ion-button [routerLink]="['/menu-carrera']">
            <img src="../../../assets/icon/favicon.png" >
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button>

          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>

          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
