[class^="boton-carrera"]{
  display: block; /* Hace que los botones se muestren uno debajo del otro */
  max-width: 100%;
  margin-bottom: 10px; /* Espacio entre los botones (ajusta según tus preferencias) */
}
